* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: rgba(204, 204, 204, 0.692);
}
.fa-arrows-up-down {
    display: none;
}
.palette-container {
    display: flex;
    width: 100%;
    min-height: 90%;
}

.palette {
    flex-grow: 1;
    text-align: center;
    position: relative;
}

.palette.before {
    border-left: 4px solid black;
}
.palette.after {
    border-right: 4px solid black;
}

.palette span {
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;

    bottom: 15%;
}
.palette .copy {
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    bottom: 25%;
    color: #fff;
    transition: transform 0.1s ease-in-out;
}

.palette .copy:hover {
    transform: scale(1.1);
    cursor: pointer;
}

div.button {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecfdce;
}

.changeColor {
    background-color: #0d6efd;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 5%;
    margin: 0 1rem;
}
.changeColor:hover {
    cursor: pointer;
    background-color: #0d65e9;
}
.back {
    background-color: #0d6efd;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 5%;
    margin: 0 1rem;
}
.back:hover {
    cursor: pointer;
    background-color: #0d65e9;
}

.front {
    background-color: #0d6efd;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 5%;
    margin: 0 1rem;
}
.front:hover {
    cursor: pointer;
    background-color: #0d65e9;
}
.saveColor {
    background-color: #0d6efd;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 5%;
    margin: 0 1rem;
}
.saveColor:hover {
    cursor: pointer;
    background-color: #0d65e9;
}
.lock {
    padding: 1rem;
    background-color: transparent;
    border: none;
    font-size: larger;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.lock:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.fa-lock {
    display: none;
}

.saveColorWindow {
    border-radius: 0.5rem;
    width: 30vw;
    height: 30vh;
    background-color: rgb(250, 250, 250);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: none;
    z-index: 4;
}

.saveColorWindowOn {
    display: block;
}

.saveColorWindow .close {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}
.saveColorWindow .close:hover {
    cursor: pointer;
}

.saveColorWindow .save {
    background-color: #0d6efd;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    border: none;
    color: rgb(253, 253, 253);
}
.saveColorWindow .save:hover {
    cursor: pointer;
    background-color: #0d62e2;
}
.saveColorWindow .cancel {
    border-radius: 0.3rem;
    border: none;
    background-color: #ffc107e8;
    padding: 0.5rem 1rem;
}

.saveColorWindow .cancel:hover {
    background-color: #ffc107;
    cursor: pointer;
}

.saveColorWindow .collection {
    border-radius: 0.3rem;

    outline: none;
    border: none;
    width: 80%;
    margin: 3rem auto;
    display: flex;
}
.saveColorWindow .collection div {
    flex-grow: 1;
    padding: 0.3rem;
    height: 2.5rem;
    position: relative;
}
.saveColorWindow .collection div span {
    position: absolute;
    border-radius: 0;
    color: rgb(2, 2, 2);
    bottom: -60%;
    left: 0;
    right: 0;
}
.saveColorWindow .collection div:first-child {
    border-radius: 0.4rem 0 0 0.4rem;
}
.saveColorWindow .collection div:last-child {
    border-radius: 0 0.4rem 0.4rem 0;
}

.colorSideMenu {
    width: 25%;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(100%);
    transition: transform 0.3s ease-in-out;
}
.colorSideMenuOn {
    transform: translate(0%);
}

.colorSideMenuButton {
    background-color: #0d6efd;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 5%;
    margin: 0 1rem;
}
.colorSideMenuButton:hover {
    cursor: pointer;
    background-color: #0d65e9;
}
.colorSideMenuClose {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

.colorSideMenuClose:hover {
    cursor: pointer;
}

.colorSideMenu {
    display: flex;
    overflow-y: scroll;
    z-index: 5;
}

.sideMenuContainer {
    margin-top: 15%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.sideMenuItem {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
.sideMenuItem:hover {
    /* cursor: pointer; */
    /* background-color: rgba(123, 43, 199, 0.623); */
}
.sideMenuItem .colors {
    display: flex;
    width: 60%;
    margin: 0 1rem;
}
.sideMenuItem div div {
    flex-grow: 1;
    height: 3rem;
}
.sideMenuItem div:first-child {
    border-radius: 0.3rem 0 0 0.3rem;
}
.sideMenuItem div:last-child {
    border-radius: 0 0.3rem 0.3rem 0;
}

.selectColor {
    background-color: #0d6efd;
    color: #fff;
    border: none;
    padding: 0 0.5rem;
    border-radius: 10%;
    margin: 0 0.2rem;
}
.selectColor:hover {
    cursor: pointer;
    background-color: #0d65e9;
}

.deleteColor {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0 0.5rem;
    border-radius: 10%;
    margin: 0 0.2rem;
}
.deleteColor:hover {
    cursor: pointer;
    background-color: #c73140;
}

input[type="color"] {
    position: absolute;
    z-index: -10;
}

label.colorInput {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 45%;
    width: 20%;
    font-size: 1.8rem;
    transition: transform 0.1s ease-in-out;
}
label.colorInput:hover {
    transform: scale(1.2);
    cursor: pointer;
}
button.move {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 35%;
    font-size: 2rem;

    transition: transform 0.1s ease-in-out;
}
.move:hover {
    cursor: pointer;
    transform: scale(1.2);
}

@media (max-width: 950px) {
    .palette-container {
        flex-direction: column;
    }
    .palette {
        flex-grow: 1;
        text-align: center;
        position: relative;
    }
    .lock {
        padding: 0;
        bottom: 0;
        top: 0;
        left: auto;
        right: 5%;
        margin: auto 0;
        font-size: 1.2rem;
    }

    .palette span {
        font-size: 1.2rem;
        position: absolute;
        left: 10px;
        right: auto;
        top: 0;
        bottom: 0;
        height: fit-content;
        margin: auto 0;
    }

    .palette .copy {
        left: auto;
        right: 15%;
        margin: auto 0;
        font-size: 1.2rem;
        bottom: 0;
        top: 0;
        color: #fff;
    }

    button.move {
        left: auto;
        right: 25%;
        top: 0;
        bottom: 0;
        margin: auto;

        font-size: 1.2rem;

        transition: transform 0.1s ease-in-out;
    }

    label.colorInput {
        position: absolute;
        left: auto;
        right: 35%;
        margin: auto 0;
        top: 0;
        bottom: 0;
        height: fit-content;
        width: fit-content;
        font-size: 1.2rem;
    }

    .palette.before {
        border-left: none;
        border-top: 4px solid black;
    }
    .palette.after {
        border-right: none;
        border-bottom: 4px solid black;
    }
    .fa-arrows-left-right {
        display: none;
    }
    .fa-arrows-up-down {
        display: initial;
    }
    .saveColorWindow {
        width: 100%;
        font-size: 0.8rem;
    }
    .btn {
        padding: 15px;
        margin: 0 0.5rem;
    }

    .colorSideMenu {
        width: 70%;
    }
}
